<div class="flex flex-col w-screen md:flex-row px-4 py-4">
    <div class="card flex justify-content-center md:mx-0 md:mt-0">
        <app-menu></app-menu>
    </div>
    <div class="card flex justify-content-center mt-4 md:mt-0 md:mr-4">
        <p-card header="Creacion de memos" class="w-full min-w-64">
            <div class="flex flex-col mb-3 items-center md:items-start">
                <div class="md:flex md:flex-row md:justify-between md:w-full">
                    <div class="flex flex-col md:flex-row md:items-center items-start mb-4">
                        <label class="text-xl mb-1 md:mr-3" for="de">De</label>
                        <div class="card flex justify-content-center">
                            <p-dropdown
                                    id="de"
                                    [options]="users"
                                    [(ngModel)]="selectedDe"
                                    optionLabel="nombres"
                                    [filter]="true"
                                    filterBy="apellidos"
                                    [showClear]="true"
                                    placeholder="Jhon Doe"
                                    styleClass="w-72 md:w-96">
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ selectedOption.nombres }} {{ selectedOption.apellidos }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-users pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ users.apellidos }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="flex flex-col items-start mb-4 md:flex-row md:items-center md:ml-3">
                        <label class="text-xl mb-1  md:mr-3" for="para">Para</label>
                        <div class="card flex justify-content-center">
                            <p-dropdown
                                    id="para"
                                    [options]="users"
                                    [(ngModel)]="selectedPara"
                                    optionLabel="nombres"
                                    [filter]="true"
                                    filterBy="apellidos"
                                    [showClear]="true"
                                    placeholder="Jhon Doe"
                                    styleClass="w-72 md:w-96">
                                <ng-template pTemplate="selectedItem" let-selectedOption>
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ selectedOption.nombres }} {{ selectedOption.apellidos }}</div>
                                    </div>
                                </ng-template>
                                <ng-template let-users pTemplate="item">
                                    <div class="flex align-items-center gap-2">
                                        <div>{{ users.apellidos }}</div>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <div class="flex flex-col items-start mb-3 md:flex-row md:justify-between md:items-center">
                    <label class="text-xl mb-1 md:mr-3" for="cc">CC</label>
                    <div class="card flex justify-content-center w-full">
                        <p-multiSelect
                                id="cc"
                                [options]="users"
                                [(ngModel)]="selectedCC"
                                placeholder="Con copia a?"
                                optionLabel="apellidos"
                                display="chip"
                                [showClear]="true"
                                styleClass="w-72 md:w-96"/>
                    </div>
                </div>
                <div class="md:flex md:flex-row md:w-full md:justify-between">
                    <div class="card flex justify-content-center flex-col mb-3 md:flex-row md:items-center">
                        <label class="text-xl mb-1 md:mr-3" for="departamento">Departamento</label>
                        <p-dropdown
                                id="departamento"
                                [options]="departamento"
                                [(ngModel)]="selectedDepartamento"
                                optionLabel="nombre"
                                placeholder="Seleccione un departamento"
                                styleClass="w-72 md:w-[17rem]"/>
                    </div>
                    <div class="card flex justify-content-center flex-col mb-3 md:flex-row md:items-center md:ml-3">
                        <label class="text-xl mb-1 md:mr-3" for="fecha">Fecha</label>
                        <p-calendar
                                id="fecha"
                                [(ngModel)]="fecha"
                                dateFormat="dd-mm-yy"
                                styleClass="w-72 md:w-96"
                                placeholder="dd-mm-yy"/>
                    </div>
                </div>
                <div class="card flex justify-content-center flex-col mb-3">
                    <label class="text-xl mb-1" for="para">Asunto</label>
                    <textarea
                            class="w-72 md:w-full"
                            rows="5"
                            cols="94"
                            pInputTextarea
                            [(ngModel)]="asunto"
                            placeholder="Tema a tratar">
                    </textarea>
                </div>
                <p-button class="mt-8" label="Crear" (onClick)="create()"/>
            </div>
        </p-card>
        <div class="card flex justify-content-center">
            <p-dialog header="Informacion del memo" [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }">
                <div class="flex align-items-center gap-3 mb-5">
                    <span></span>
                    <p-inputGroup class="mt-1">
                        <input type="text" pInputText placeholder="AAG-2023-000-AREA-M" [disabled]="true" />
                        <button type="button" pButton icon="pi pi-clipboard" class="bg-white text-gray-600"></button>
                    </p-inputGroup>
                </div>
            </p-dialog>
        </div>
    </div>
</div>